.searchbar {
  width: 100%;
  height: 85px;
  background: #053D62;
  padding: 13px 20px 0px 20px;
  box-sizing: border-box;
  color: #fff;
  position: relative;
}

.searchbar-content {
  max-width: 1280px;
  width: 100%;
  height: 55px;
  background: #E0E4CC;
  margin: 0 auto;
  border-radius: 40px;
  position: relative;
  color: #fff;

  .fasearch {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #1f3abc;
    z-index: 1000;
  }

  input {
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    position: absolute;
    left: 0px;
    margin: 8px 0;
    padding: 0 0 0 60px;
    border: 0;
    width: 95%;
    background: transparent;
    height: 40px;
    color: #333;
    box-sizing: border-box;

    :focus {
      outline:none;
    }
    @media screen and (max-width: 720px) {
      font-size: 28px;
    }


  }
}